{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head_title %}Welcome | {% endblock %}

<style>
{% block style %}
.jumbotron {
  background-color: #8ebbff;
}
.navbar-static-top {
  margin-bottom: 0px !important;
}
{% endblock %}
</style>

{% block jumbotron %}
{% if not request.user.is_authenticated %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <h1>Matchmaker</h1>
        <p>This is a test app for matchmaker functionality. Create a profile and match interests with other users.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Join Us &raquo;</a>
        </p>
      </div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KsLHt3D_jsE" frameborder="0" allowfullscreen></iframe>
        <!-- <img src="{% static 'img/forest.jpg' %}" class='img-responsive' /> -->
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
  <h1>You are logged in!</h1>

    {% if queryset %}
      <h2> Welcome Staff</h2>
      <table class='table'>
      {% for i in queryset %}
        <tr><td>{{ forloop.counter }}</td><td>{{ i }}</td><td>{{ i.full_name }}</td><td>{{ i.timestamp|timesince }} ago</td></tr>
      {% endfor %}
    {% endif %}

  {% else %}

    <div class="row">
      <div class="col-xs-3 pull-right">
        <p class='lead text-align-center'>{{ title }}</p>
        <form method='POST' action=''>{% csrf_token %}
          {{ form|crispy }}
          <input class='btn btn-primary' type='submit' value='Sign Up'>
        </form>
      </div>
      <div class='col-xs-3'>
        <p class='lead text-align-center'>Build a Profile</p>
        <img src="{% static 'img/forest.jpg' %}" class='img-responsive' />
      </div>
      <div class='col-xs-3'>
        <p class='lead text-align-center'>Find a Match
          <br/><br/>
        <span class="fa-stack fa-lg fa-5x">
          <i class="fa fa-comment-o fa-stack-2x"></i>
          <i style="color:yellow;" class="fa fa-bolt fa-stack-1x"></i>
        </span>
      </p>
      </div>
      <div class='col-xs-3'>
        <p class='lead text-align-center'>Make Friends
          <br/></br>
        <span class="fa-stack fa-lg fa-5x">
          <i class="fa fa-spinner fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x"></i>
        </span>
      </p>
      </div>
    </div>
  {% endif %}
{% endblock %}
